@import '../../styles/partials/_variables';
@import '../../styles/partials/_mixins';

.booknow {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile-body;
            @include tablet {
                @include tablet-body;
            }

    &__rates {
        @include border;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        padding: 1rem;
        background-color: $base-color;
        color: $primary-text-color;
        width: 40vw;
        @include mobile-body;
            @include tablet {
                @include tablet-body;
            }
    }

    &__checkin,
    &__checkout {
        padding: .25rem .25rem .25rem 1rem;
    }

    &__selected-nights {
        margin: 2rem;
    }

    &__total {
        margin: 2rem 0;
    }

    &__button-confirm {
        @include button;
    }

    &__popup {
        background-color: $primary-color;
        height: 10rem;
        width: 30rem;
        margin: 1rem;
        text-align: center;
    }

    &__popup-message {
        @include section-title;
    }

}