@import '../../styles/partials/_variables';
@import '../../styles/partials/_mixins';

.amenities {
    display: flex;
    flex-direction: column;
    border: .25rem solid $secondary-color;
    padding: 1rem;
    
    
    &__container {
        background-color: $main-color; 
        font-family: $main-font;
        height: 300px;
        width: 70vw;
        overflow-y: auto;
            @include tablet {
                height: 500px;
                width: 80vw;
                overflow-y: auto;
            }
    }
    

    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
    }

    &__titles {
        font-size: 1rem;
        margin: .25rem;
            @include tablet{
                font-size: 2rem;
            }
    }

    &__features {
        font-size: .75rem;
            @include tablet {
                font-size: 1.25rem;
            }
    }

    &__icons {
        height: 40px;
            @include tablet {
                height: 60px;
            }
    }
}