@import '../../styles/partials/_variables';
@import '../../styles/partials/_mixins';

.amenities {
    &__main-title {
        @include section-title;
        @include tablet {
            font-size: 2rem;
        }
    }

    &__border-bottom {
        @include border-bottom;
    }

    &__border {
        @include border;
        padding: .5rem;
        margin: 1rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        background-color: $main-color; 
        overflow-y: hidden; 
        max-height: 500px; 
        transition: max-height 0.3s ease-in-out; 
        &.collapsed {
            max-height: 100%; 
        }
    }

    &__section {
        margin: 1.5rem;
    }

    &__title-div {
        display: flex;
        align-items: center;
    }

    &__titles {
        @include mobile-header;
        margin: .25rem;
        @include tablet {
            @include tablet-header;
        }
    }

    &__icons {
        margin-right: 0.5rem; 
    }

    &__features {
        @include mobile-body;
        margin: .5rem;
        @include tablet {
            @include tablet-body;
        }
    }

    &__expand-button {
        cursor: pointer;
        background: none;
        border: none;
        padding: 1rem;
        font-size: 1.5rem;
        color: #fff;
        outline: none;
        transition: background-color 0.3s;
    }
}
