@import '../../styles/partials/_variables';
@import '../../styles/partials/_mixins';

.amenities {
    
    &__main-title {
        font-family: $secondary-font;
        font-size: 1rem;
            @include tablet {
                font-size: 2rem;
            }
    }
    
    &__border{
        @include border;
        padding: .5rem;
        margin: 1rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        background-color: $main-color; 
        height: 300px;
        width: 70vw;
        overflow-y: auto;
        @include tablet {
            height: 500px;
            width: 50vw;
        }
    }

    &__section {
        margin: 1.5rem;
    }

    &__title-div {
        display: flex;
        align-items: center;
    }

    &__titles {
        @include mobile-header;
        margin: .25rem;
        @include tablet {
            @include tablet-header;
        }
    }

    &__icons {
        margin-right: 0.5rem; 
    }

    &__features {
        @include mobile-body;
        margin: .5rem;
        @include tablet {
            @include tablet-body;
        }
    }
}
