@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }
  
  @mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
  }

  @mixin navStyles {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    list-style: none;
  }

  @mixin button {
    padding: 2rem;
    margin: 1rem;
    background-color: $secondary-color;
    color: $primary-text-color;
    border: none;
    border-radius: 5px;
    &:hover {
        background-color: $accent-color;
    }
  }

  @mixin border {
    border: .25rem solid $secondary-color;
  }