@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }
  
  @mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
  }

  @mixin mobile-header {
    font-family: $main-font;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @mixin mobile-body {
    font-family: $main-font;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  @mixin tablet-header {
    font-family: $main-font;
    font-size: 2rem;
    line-height: 2rem;
  }

  @mixin tablet-body {
    font-family: $main-font;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  @mixin navStyles {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    list-style: none;
  }

  @mixin button {
    padding: 2rem;
    margin: 1rem;
    background-color: $secondary-color;
    color: $primary-text-color;
    border: none;
    border-radius: 5px;
    &:hover {
        background-color: $accent-color;
    }
  }

  @mixin border {
    border: .10rem solid $secondary-color;
  }

  @mixin border-bottom {
      border-bottom: 4px solid $secondary-color;
        margin: 2rem;
  }

