@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }
  
  @mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
  }

  @mixin navStyles {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    list-style: none;
  }