@import '../../styles/partials/_typography';

//colors
$primary-color: #8cb763;
$base-color: #2c4f40;
$main-color: #a2bb99;
$secondary-color: #99856a;
$accent-color: #dbcdbd;
$primary-text-color: #ffffff;

//fonts
$main-font: 'main-font', sans-serif;
$secondary-font: 'secondary-font', sans-serif;

//breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

