@import '../../styles/partials/_variables';
@import '../../styles/partials/_mixins';

.homepage {
    display: flex;
    flex-direction: column;
    background-color: $primary-text-color;
    align-items: center;
    background-color: $background-color;

    &__upper-section,
    &__lower-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 80vw;
    }
   
    &__title {
       @include section-title;
        margin: 1rem;
            @include tablet {
                font-size: 3rem;
            }
    }

    &__bio {
        @include mobile-body;
        margin: 1rem;
            @include tablet {
                @include tablet-body;
            }
    }

    &__image {
        width: 70vw;
        margin:  1rem auto;
        padding: .5rem;
        @include border;
            @include tablet {
                width: 80vw;
        } 
    }

    &__suite-description {
        @include mobile-body;
        margin: 1rem;
        width: 50vw;
            @include tablet {
                @include tablet-body;
                margin: 3rem;
            }
        
    }

    &__border-bottom {
        @include border-bottom;
        width: 10vw;
    }

    &__image-placeholder {
        height: 60vh;
        width: 60vw;
        margin: 1rem;
        padding: .5rem;
        @include border;
    }
}