@import '../../styles/partials/_variables';
@import '../../styles/partials/_mixins';

.homepage {
    display: flex;
    flex-direction: column;
    background-color: $accent-color;
    position: relative; // Add this to establish a stacking context

    &__slideshow {
        position: absolute;
        width: 100%;
        z-index: 0; // Set z-index to a value lower than other elements
    }

    &__title {
        font-family: $secondary-font;
        font-size: 1.5rem;
        margin: .5rem;
        z-index: 1; // Set z-index higher than the slideshow
    }

    &__bio {
        font-family: $main-font;
        font-size: .75rem;
        margin: .5rem;
        max-width: 280px;
        z-index: 1; // Set z-index higher than the slideshow
    }

    &__image {
        height: 200px;
        margin: .5rem auto;
        border: .25rem solid $secondary-color;
        z-index: 1; // Set z-index higher than the slideshow
    }
}
