@import '../../styles/partials/_variables';
@import '../../styles/partials/_mixins';

.homepage {
    display: flex;
    flex-direction: column;
    background-color: $accent-color;
   
    &__title {
        font-family: $secondary-font;
        font-size: 1.5rem;
        margin: .5rem;
    }
    &__bio {
        font-family: $main-font;
        font-size: .75rem;
        margin: .5rem;
        max-width: 280px;
    }

    &__image {
        height: 200px;
        margin:  .5rem auto;
        border: .25rem solid $secondary-color;
        
    }
}