@import '../../styles/partials/_variables';
@import '../../styles/partials/_mixins';

.policy {
    margin: 2rem;
    max-width: 70vw;;

    &__title {
        @include section-title;
        @include border-bottom;
    }

    &__subtitle {
        @include mobile-header;
            @include tablet {
                @include tablet-header;
            }
    }
    &__text {
        @include mobile-body;
            @include tablet {
                @include tablet-body;
            }
    }

}


    &__button-container {
        padding: 2rem;
    }

    &__button {
        @include button;
    }
}