@import '../../styles/partials/_variables';
@import '../../styles/partials/_mixins';

.findus {
    display: flex;
    justify-content: center;
    font-family: $main-font;

    &__directions {
        margin: 1rem;
    }

    &__directions-title {
        font-size: 1rem;
        margin: 1rem;
    }

    &__location {
        font-size: 1rem;
        margin: .5rem
    }
    
    &__direction-map {
        width: 80vw;
    }
}