@import '../../styles/partials/_variables';
@import '../../styles/partials/_mixins';

.findus {
    display: flex;
    justify-content: center;

    &__directions {
        margin: 1rem;
    }

    &__directions-title {
        @include mobile-header;
        @include tablet {
            @include tablet-header;
        }
    }

    &__location {
        @include mobile-body;
        @include tablet {
            @include tablet-body;
        }
    }
    
    &__direction-map {
        width: 80vw;
    }
}