@import '../../styles/partials/_variables';
@import '../../styles/partials/_mixins';

.gallery {
    
    &__title {
        @include section-title;
    }

    &__border-bottom {
        @include border-bottom;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
 
    &__item {
        width: 90vw; 
        height: 40vh;
        margin: .35rem; 
        @include tablet {
            width: 40vw; 
            height: 30vh;
            margin: .35rem;
            @include desktop {
                width: 30vw; 
                height: 20vh;
                margin: .35rem;
            }
        }
    }
}