@import '../../styles/partials/_variables';
@import '../../styles/partials/_mixins';

.hosts {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile-body;
            @include tablet {
                @include tablet-body;
               
                    }
                

    &__section {
        background-color: $base-color;
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center;
        width: 90vw;
    }

    &__title {
       font-family: $secondary-font;
       color: $primary-text-color;
       margin: 1rem;
       font-size: 1rem;
       padding: 0 0 30px 0;
       border-bottom: 4px solid $secondary-color;
            @include tablet {
                font-size: 2rem;
            }
    }

    &__paragraphs {
        color: $primary-text-color;
        padding: 1rem;
        width: 70vw;
        @include mobile-body;
        margin: 1rem;
            @include tablet {
                @include tablet-body;
            }
    }

    &__border-bottom {
        width: 10vw;
        @include border-bottom;
    }

    &__images {
        width: 60vw;
        margin: 1rem;
        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        @include tablet { 
            margin: 1rem;
        }
    }
}