@import '../../styles/partials/_variables';
@import '../../styles/partials/_mixins';

.hosts {
    display: flex;
    flex-direction: column;
    @include mobile-body;
            @include tablet {
                @include tablet-body;
                max-width: 80vw;
                    @include tablet {
                        @include desktop {
                            max-width: 90vw;
                        }
                    }
                }

    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        @include mobile-header;
            @include tablet {
                @include tablet-header;
            }
    }

    &__paragraphs {
        @include mobile-body;
            @include tablet {
                @include tablet-body;
            }
    }

    &__images {
        width:  80vw;
        margin: 1rem;
        @include tablet { 
            width:  40vw;
            margin: 1rem;
        }
    }
}