@import '../../styles/partials/_variables';
@import '../../styles/partials/_mixins';

.footer {
    background-color: $base-color;
    color: $primary-text-color;

    &__main-section {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-family: $secondary-font;
        font-size: 1rem;
        margin: 0 1rem;
    }

    &__list {
        font-family: $main-font;
        font-size: .75rem;
    }

    &__item {
        @include navStyles;
        margin: .25rem 3rem;
        &:hover {
            color: $accent-color;
        }
    }

    &__rights {
        font-family: $main-font;
        font-size: .75rem;
        padding: .5rem;
    }
}