@import '../../styles/partials/_variables';
@import '../../styles/partials/_mixins';

.react-calendar {
  font-family: $main-font;
  border: none;
  width: 90vw;
    
  &__navigation {
    display: flex;
    background-color: $accent-color;
  }

  &__navigation__label {
    background-color: $accent-color;
    border: none;
    font-size: 2rem;
    margin: 0 auto;
  }

  &__navigation__arrow {
    background-color: $accent-color;
    border: none;
    font-size: 2rem;
    margin: .25rem;
    width: 50px;
    transition: transform 0.2s ease;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__navigation__prev2-button,
  &__navigation__next2-button {
    display: none;
  }

  &__month-view__weekdays {
    background-color: $secondary-color;
    font-size: 1rem;
  }

  &__tile {
    background-color: $accent-color;
    color: black;
    border: 1px solid $accent-color;
    font-size: 1.5rem;
    height: 4vh;
    width: 4vw;
        @include tablet {
            height: 10vh;
            width: 10vh;
        }
    &:hover {
        background-color:$secondary-color;
    }
  }
  
  &__tile--active {
    background-color: $primary-color;
    color: white;
  }
}


.myCalendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $main-font;
    background-image: url(../../assets/images/gradient-pool-homepage.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    

    &__title {
        font-size: 2rem;
        margin: 1rem 0;
    }

    &__selected-date {
        background-color: white;
        padding: 1rem 2rem;
        margin: 1rem;
        width: 80vw;
        font-size: 1.5rem;
        
    }
   
}