@import '../../styles/partials/_variables';
@import '../../styles/partials/_mixins';

.map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    max-width: 90vw;
    font-family: $main-font;

    &__title {
       font-size: 1rem;
        @include tablet {
            font-size: 2rem;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
            @include tablet {
                flex-direction: row;
            }
    }

    &__details {
        width: 80vw;
    }

    &__lanes {
        font-size: 1rem;
        background-color: $secondary-color;
        color: white;
        margin: 0 auto;
            @include tablet {
                font-size: 2rem;
                height: 80px;
                padding: 1rem;
                margin: auto 1rem;
            }
    }
}